/src/ @birbjs/team
package.json @birbjs/team
package-lock.json @birbjs/team
tsconfig.json @birbjs/team
/.* @knokbak
/.*/ @knokbak
.gitignore @knokbak
CONTRIBUTORS @knokbak
CODEOWNERS @knokbak
LICENSE @knokbak
