/src/ @birbjs/team
package.json @birbjs/team
package-lock.json @birbjs/team
tsconfig.json @birbjs/team
/.* @OllieKillean
/.*/ @OllieKillean
.gitignore @OllieKillean
CONTRIBUTORS @OllieKillean
CODEOWNERS @OllieKillean
LICENSE @OllieKillean
